<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.jira-for-leaders</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>01ACA7CC-1B7C-4977-B204-C606EEB4BA2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5F720D1-B2ED-4863-BAA4-1A87AE244AD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>04EEF3F3-5B84-43EC-9BDC-D10D4E2BF501</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B13409E8-A583-4572-B78E-44A83BBC7865</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AD7CAE1-F13C-4D43-86C7-40C74F34E98F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3F7A26C-2030-49CD-BA32-3CF91298A0C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AB6E801-3ABE-4BDE-822F-7CB126576044</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E73BBE6-6E78-4F90-8CF7-E17EB32C1A35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E73BBE6-6E78-4F90-8CF7-E17EB32C1A35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23C0942F-64FA-4CC4-B3B0-D6D121718085</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91C5DB9F-1E01-48B8-88C7-CD6C005F2DAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D7EACAF-AE53-434B-A3FC-87628C54D37D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E87B85F-15D7-44B3-9C19-0DEE90EBBC9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98D08D93-C137-43D0-AAEF-F29F26F5EBA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FA4BCD3-71E5-451B-9ECB-4F2498A10D4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91C5DB9F-1E01-48B8-88C7-CD6C005F2DAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FD8D2B4-F82B-4540-A8F6-69DB144C2112</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FA4BCD3-71E5-451B-9ECB-4F2498A10D4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD6BB9C1-91CE-4923-8829-E03BDB90A675</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01ACA7CC-1B7C-4977-B204-C606EEB4BA2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B13409E8-A583-4572-B78E-44A83BBC7865</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23C0942F-64FA-4CC4-B3B0-D6D121718085</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3F7A26C-2030-49CD-BA32-3CF91298A0C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2C768D6-8242-450D-9D1C-AC20E20BBA6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5F720D1-B2ED-4863-BAA4-1A87AE244AD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FD8D2B4-F82B-4540-A8F6-69DB144C2112</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9CB1AD6F-F0D0-4ABD-8618-7840B13E3C93</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E87B85F-15D7-44B3-9C19-0DEE90EBBC9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6205AE3E-B504-4311-B9D8-DABBEF857CC0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6AB6E801-3ABE-4BDE-822F-7CB126576044</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>61095717-E61B-49E1-906B-7652D2483226</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D3F7A26C-2030-49CD-BA32-3CF91298A0C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>26F7DF95-220A-49BF-83D1-2D302B07D034</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2C768D6-8242-450D-9D1C-AC20E20BBA6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23C0942F-64FA-4CC4-B3B0-D6D121718085</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christopher Willard</string>
	<key>description</key>
	<string>Jira utilities for leaders of software development teams</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Set project scope to {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7D7EACAF-AE53-434B-A3FC-87628C54D37D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter the Jira project identifier (MI)</string>
				<key>text</key>
				<string>Set a default project</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9FA4BCD3-71E5-451B-9ECB-4F2498A10D4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  
  var projectName = argv[0];

  ObjC.import('stdlib')

  var alfredMajorVer = $.getenv('alfred_version').charAt(0)
  var alfredAppName = "Alfred " + alfredMajorVer
  var alfredApp = Application(alfredAppName)

  alfredApp.setConfiguration('jira_project', {
    toValue: projectName,
    inWorkflow: $.getenv('alfred_workflow_bundleid')
  });

  return projectName;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>91C5DB9F-1E01-48B8-88C7-CD6C005F2DAC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9FD8D2B4-F82B-4540-A8F6-69DB144C2112</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/actions/team-churn.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Cached for {var:team_unassigned_ttl}m</string>
				<key>title</key>
				<string>Searching for unassigned work...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>98D08D93-C137-43D0-AAEF-F29F26F5EBA6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>default-project</string>
						<key>outputlabel</key>
						<string>Set Default Project</string>
						<key>uid</key>
						<string>9CB1AD6F-F0D0-4ABD-8618-7840B13E3C93</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>team-unassigned</string>
						<key>outputlabel</key>
						<string>Show Unassigned Team Tasks</string>
						<key>uid</key>
						<string>6205AE3E-B504-4311-B9D8-DABBEF857CC0</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>team-churn</string>
						<key>outputlabel</key>
						<string>Show Team Churn</string>
						<key>uid</key>
						<string>61095717-E61B-49E1-906B-7652D2483226</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>team-wip</string>
						<key>outputlabel</key>
						<string>Show Team WIP</string>
						<key>uid</key>
						<string>26F7DF95-220A-49BF-83D1-2D302B07D034</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Undefined</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D5F720D1-B2ED-4863-BAA4-1A87AE244AD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9E87B85F-15D7-44B3-9C19-0DEE90EBBC9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Team Unassigned","arg":"team-unassigned","subtitle":"Show any team member with unassigned work"},{"title":"Team Churn","arg":"team-churn","subtitle":"Display team tasks that may be stuck"},{"title":"Team WIP","arg":"team-wip","subtitle":"Display WIP for each team member"},{"title":"Set Default Project","arg":"set-default-project ","subtitle":"Set the default project for all inquiries"}]</string>
				<key>keyword</key>
				<string>jfl</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jira for Tech Leaders</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>01ACA7CC-1B7C-4977-B204-C606EEB4BA2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AD6BB9C1-91CE-4923-8829-E03BDB90A675</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/actions/team-churn.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Cached for {var:team_churn_ttl}m</string>
				<key>title</key>
				<string>Searching for team churn...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8E73BBE6-6E78-4F90-8CF7-E17EB32C1A35</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6AB6E801-3ABE-4BDE-822F-7CB126576044</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>23C0942F-64FA-4CC4-B3B0-D6D121718085</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3AD7CAE1-F13C-4D43-86C7-40C74F34E98F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/actions/team-wip.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Cached for {var:team_wip_ttl}m</string>
				<key>title</key>
				<string>Searching for team wip...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E2C768D6-8242-450D-9D1C-AC20E20BBA6C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D3F7A26C-2030-49CD-BA32-3CF91298A0C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node src/actions/search.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Cached for 15m</string>
				<key>title</key>
				<string>Search for Jira issues</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B13409E8-A583-4572-B78E-44A83BBC7865</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>04EEF3F3-5B84-43EC-9BDC-D10D4E2BF501</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01ACA7CC-1B7C-4977-B204-C606EEB4BA2A</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>04EEF3F3-5B84-43EC-9BDC-D10D4E2BF501</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>23C0942F-64FA-4CC4-B3B0-D6D121718085</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>3AD7CAE1-F13C-4D43-86C7-40C74F34E98F</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>6AB6E801-3ABE-4BDE-822F-7CB126576044</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>7D7EACAF-AE53-434B-A3FC-87628C54D37D</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>8E73BBE6-6E78-4F90-8CF7-E17EB32C1A35</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>91C5DB9F-1E01-48B8-88C7-CD6C005F2DAC</key>
		<dict>
			<key>xpos</key>
			<integer>855</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>98D08D93-C137-43D0-AAEF-F29F26F5EBA6</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>9E87B85F-15D7-44B3-9C19-0DEE90EBBC9D</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>9FA4BCD3-71E5-451B-9ECB-4F2498A10D4A</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>9FD8D2B4-F82B-4540-A8F6-69DB144C2112</key>
		<dict>
			<key>note</key>
			<string>Clear the argument set from the list filter.</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>AD6BB9C1-91CE-4923-8829-E03BDB90A675</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>B13409E8-A583-4572-B78E-44A83BBC7865</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>D3F7A26C-2030-49CD-BA32-3CF91298A0C4</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>D5F720D1-B2ED-4863-BAA4-1A87AE244AD6</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E2C768D6-8242-450D-9D1C-AC20E20BBA6C</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>churn_days</key>
		<string>2</string>
		<key>jira_host</key>
		<string>redventures.atlassian.net</string>
		<key>jira_password</key>
		<string>VqICacvVd8n203Q3uJZN964E</string>
		<key>jira_project</key>
		<string>MI</string>
		<key>jira_team_members</key>
		<string>zachary.anderson@bankrate.com,sarah.liu@bankrate.com,daniel.perez@bankrate.com,marwilliams@redventures.com</string>
		<key>jira_username</key>
		<string>chris.willard@bankrate.com</string>
		<key>keyword_criteria</key>
		<string>AND project = "{var:jira_project}" AND sprint in openSprints() ORDER BY updated DESC</string>
		<key>team_churn_ttl</key>
		<string>0</string>
		<key>team_unassigned_ttl</key>
		<string>0</string>
		<key>team_wip_ttl</key>
		<string>0</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>jira_password</string>
		<string>jira_project</string>
		<string>jira_team_members</string>
		<string>jira_username</string>
		<string>jira_host</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
